* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 26px;
    font-weight: normal;
    line-height: 34px;

}

form h2 {
    margin: 0;
    padding: 30px 20px;
}

.notes {
    font-size: 10px;
    color: gray;
}

.subtitle {
    color: gray;
    font-size: 15px;
}

form input, form button {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}